# Boring file regexps:
/.yi*.dbg
/Yi/Lexer/*.hs
/config.mk
/setup

dist/
*.hi
*.hi-boot
*.o-boot
*.o
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions
*~
*.bak
*.BAK
*.orig
*.rej
*.swp
*.prof
.DS_Store
*\#
Thumbs.db
autom4te.cache
config.log
config.status
*.depend
tags
TAGS
*.obj
*.a
*.exe
*.so
*.lo
*.la
